<div class="modal-modal-template grid modal-confirm-delete">

    <div class="grid__item-12">
        <form name="vm.modalTemplateForm" novalidate="novalidate">
            <h1>{{vm.title}}</h1>
            <!-- Insert Widget Here -->

            <div class="controls">
                <a ng-click="vm.cancel()" class="button button--primary-alt">Cancel</a>
                <a ng-click="vm.submit()" class="button button--primary" ng-disabled="vm.modalTemplateForm.$invalid">Submit</a>
            </div>
        </form>
    </div>

</div>