doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title   
  body
    .container
        h1= message
        h2= error.status
        pre #{error.stack}