doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title   
    link(rel='stylesheet', href='/css/vendors.css')
    link(rel='stylesheet', href='/css/application.css')
  body(ng-app="app")
    .container
        div(ui-view ng-cloak)
            block content
    
    each val in bundle
        script(type="text/javascript", src=''+val.scripts)
      
